cxx_compiler:
  - clang_bootstrap  # [osx]
  - gxx              # [linux]
  - vs2017           # [win]
c_compiler:
  - clang_bootstrap  # [osx]
  - gcc              # [linux]
  - vs2017           # [win]
vc:
  - 14
c_compiler_version:     # [osx]
  - "11.1.0"            # [osx]
cxx_compiler_version:   # [osx]
  - "11.1.0"            # [osx]

MACOSX_SDK_VERSION:  # [osx and x86_64]
  - 10.14            # [osx and x86_64]

dummy_var:              # [osx]
  - 0                   # [osx and x86_64]
  - 1                   # [osx and arm64]
