cxx_compiler:
  - clang_bootstrap  # [osx]
  - gxx              # [linux]
  - vs2017           # [win]
c_compiler:
  - clang_bootstrap  # [osx]
  - gcc              # [linux]
  - vs2017           # [win]
vc:
  - 14

channel_targets:
  - conda-forge llvm_rc

channel_sources:
  - conda-forge/label/llvm_rc,conda-forge

# libcxx only supports the last released GCC version, see
# https://releases.llvm.org/13.0.0/projects/libcxx/docs/index.html#platform-and-compiler-support
c_compiler_version:     # [linux]
  - 11                  # [linux]
cxx_compiler_version:   # [linux]
  - 11                  # [linux]

MACOSX_SDK_VERSION:  # [osx and x86_64]
  - 10.14            # [osx and x86_64]

dummy_var:              # [osx]
  - 0                   # [osx and x86_64]
  - 1                   # [osx and arm64]
